body {
    font-family: "Roboto", sans-serif; /* Задаємо шрифт на сайті */
    color: #434455;
    background-color: #FFFFFF; /* Фон сторінки */
}
ul{
    list-style: none;
}
a {
    text-decoration: none;
}
.logo { font-family: "Raleway", sans-serif;
    line-height: 1.17;
}

.header-navigation {}
.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5; }
.header-logo span {
    color: #2e2f42;
}
.header-link { 
    font-family: "Raleway", sans-serif;
    line-height: 1.17;
    color: #4d5ae5;
    text-decoration: none;
  
}

.header-link:hover {
font-family: Roboto;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
color: #404bbf;
}
.header-link:focus {
    color: #404bbf;
}

.adress {
    font-style: normal;
}
.adress-link {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.adress-link:hover, .adress-link:focus {
    color: #404bbf
}
.adress-item {}
.title {
    background: var(--NAVY-BLUE, #2E2F42);
}
.hero-title {
    color: var(--WHITE, #FFF);
text-align: center;
font-size: 56px;
font-weight: 700;
line-height: 1.07em;
letter-spacing: 0.02em;
}
.hero-butt {
font-family: inherit;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
background-color: #4D5AE5;
 color: #ffffff; 
cursor: pointer;
}
.hero-butt:hover, .hero-butt:focus{
    border-color: var(--OCEAN, #404bbf);
}
.features {
}
.vissually-hidden{}
.features-list {
}
.features-item {
}
.features-subtitle {
}
.features-item-text {
}
.team {
    background: var(--CLOUD, #F4F4FD);
}
.visual-team {
  
}
.team-list {

}
.team-item {
}
.portfolio {

}
.portfolio-title{
font-size: 20px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
}
.portfolio-item{

}
.portfolio-subtitle{

}
.portfolio-text {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}
.footer {
    background-color: var(--NAVY-BLUE, #2E2F42);
}
.footer-logo {
    color: var(--CLOUD, #F4F4FD);
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0.02em;
}
.footer-logo-span { 
    color: #F4F4FD;
}

.footer-text {
color: #F4F4FD
font-size: 16px;
font-weight: 400;
line-height: 1.5em;
letter-spacing: 0.02em;
}