body {
    font-family: "Roboto", sans-serif; /* Задаємо шрифт на сайті */
    color: #434455;
    background-color: #FFFFFF; /* Фон сторінки */
}
ul{
    list-style: none;
}
a {
    text-decoration: none;
}
.logo { font-family: "Raleway", sans-serif;
    line-height: 1.17;
}

.header-navigation {}
.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #4d5ae5; }
.header-logo span {
    color: #2e2f42;
}
.header-menu{
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
}
.header-link { 
    font-family: "Raleway", sans-serif;
    line-height: 1.17;
    color: #4d5ae5;
    text-decoration: none;
  
}

.header-link:hover {
font-family: Roboto;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
color: #404bbf;
}
.header-link:focus {
    color: #404bbf;
}

.adress {
    font-style: normal;
}
.adress-link {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.adress-link:hover, .adress-link:focus {
    color: #404bbf
}
.adress-item {}
.title {
    background: var(--NAVY-BLUE, #2E2F42);
}
.hero-title {
    color: var(--WHITE, #FFF);
text-align: center;
font-size: 56px;
font-weight: 700;
line-height: 1.07em;
letter-spacing: 0.02em;
}
.hero-butt {
font-family: inherit;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
background-color: #4D5AE5;
 color: #ffffff; 
cursor: pointer;
}
.hero-butt:hover, .hero-butt:focus{
    border-color: var(--OCEAN, #404bbf);
}
.features {
}
.vissually-hidden{}
.features-list {
}
.features-item {
}
.features-subtitle {
    font-weight: 500;
    font-size: 20px; 
    line-height: 1.2; 
    letter-spacing: 0.02em; 
    color: #2e2f42; 
}
.features-item-text {
    line-height: 1.5;
    letter-spacing: 0.02em; 
}
.team {
    background: var(--CLOUD, #F4F4FD);
}
.visual-team {
    font-size: 36px; 
    line-height: 1.11; 
    text-align: center; 
    letter-spacing: 0.02em; 
    text-transform: capitalize; 
    color: #2e2f42;
}
.team-list {

}
.team-item {
}
.team-name{
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.02em;
}
.team-position {
    color: var(--SLATE, #434455);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.02em;
}
.portfolio {

}
.portfolio-title{
font-size: 20px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
}
.portfolio-item{

}
.portfolio-subtitle{
    background-color: #FFFFFF;
}
.portfolio-text {
    color:#2E2F42;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.portfolio-up{
    color: var(--SLATE, #434455);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
}
.footer {
    background-color:  #2E2F42;
}
.footer-logo {
    color:  #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17em;
    letter-spacing: 0.03em;
    text-transform: uppercas;
   
}
.footer-logo-span { 
    color: #F4F4FD;
}

.footer-text {
color: #F4F4FD
font-size: 16px;
font-weight: 400;
line-height: 1.5em;
letter-spacing: 0.02em;
}